# father
target/
.idea
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
*.iml
temp_sp


# sun1

sun/target/
sun/pom.xml.tag
sun/pom.xml.releaseBackup
sun/pom.xml.versionsBackup
sun/pom.xml.next
sun/*.iml


# sun2

sun0/target/
sun0/pom.xml.tag
sun0/pom.xml.releaseBackup
sun0/pom.xml.versionsBackup
sun0/pom.xml.next
sun0/*.iml

